.nav-link {
  cursor: pointer;
}
.nav-link:hover {
  font-weight: 600;
  /* text-decoration: underline; */
  color: #fe9901 !important;
}
.navbar-brand-style {
  color: #fff !important;
  font-weight: 600;
}
.createRelationH4 {
  margin: 15px;
  text-align: center;
}
.findRelationRow {
  margin: 15px 0px;
}
.textColor {
  color: #fff;
  height: calc(100vh - 60px);
}
.nav-link {
  color: #fff !important;
}
.ulOfFindRelation li {
  font-size: 24px;
}
.select-relationType {
  margin-top: 10px;
}
.footerIcon {
  position: relative;
  font-size: 25px;
  left: 20px;
  top: 3px;
}
